<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Mixture + Firebase</title>
  {{ "normalize.css" | asset_url | stylesheet_tag }}
  {{ "app.css" | asset_url | stylesheet_tag }}
  <script src="{{ "custom.modernizr.js" | asset_url }}"></script>
</head>
<body> 
  <h1>Mixture + Firebase</h1>
  {% block content %}{% endblock %}
  {% include "scripts" %}
</body>
</html>