<hr />
    <p>Get the source from <a href="https://github.com/teammixture/demo-attending">GitHub</a>. Check out <a href="http://firebase.com">Firebase</a>. Get <a href="http://mixture.io">Mixture</a> &amp; have a play.</p>